<form action="/notes/new-note" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">{{__ 'title'}}</label>
    <input type="text" name="title" class="form-control" id="title" required>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">{{__ 'description'}}</label>
    <textarea name="description" class="form-control" id="description" rows="3" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">{{__ 'save'}}</button>
</form>

{{!-- <div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header bg-dark text-center">
      <h3 class="text-white">{{__ 'new_note'}}</h3>
    </div>
    <div class="card-body text-right">
      <form action="/notes/new-note" method="POST">
        <div class="mb-3">
          <label for="title">{{__ 'title'}}:</label>
          <input type="text" name="title" class="form-control" placeholder="{{__ 'title'}}" autofocus>
        </div>
        <div class="mb-3">
          <label for="description">{{__ 'description'}}:</label>
          <textarea name="description" class="form-control" placeholder="{{__ 'description'}}"></textarea>
        </div>
        <button class="btn btn-primary w-100" type="submit">{{__ 'save'}}</button>
      </form>
    </div>
  </div>
</div> --}}