<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-5 bg-black text-white rounded">
      <div class="card-header text-center pt-5">
        <h1 class="h4 text-white">{{__ 'signup_title'}}</h1>
      </div>
      <img
        class="rounded-circle mx-auto d-block logo m-4"
        src="/img/logo.png"
        alt="Logo"
      />
      <div class="card-body">
        <form action="/auth/signup" method="POST">
          <div class="mb-3">
            <label for="name">{{__ 'name'}}:</label>
            <input type="text" name="name" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="email">{{__ 'email'}}:</label>
            <input type="email" name="email" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="password">{{__ 'password'}}:</label>
            <input type="password" name="password" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="confirm_password">{{__ 'confirm_password'}}:</label>
            <input type="password" name="confirm_password" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">{{__ 'register'}}</button>
        </form>
      </div>
      <p class="text-center">{{__ 'have_account'}}
        <a href="/auth/signin" class="text-info">{{__ 'login'}}</a></p>
    </div>
  </div>
</div>